# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage
coverage
*.lcov
.nyc_output

# Grunt
.grunt

# Bower
bower_components

# Node waf
.lock-wscript

# Compiled binary addons
build/Release

# Dependency directories
node_modules/
backend/node_modules/
frontend/node_modules/
jspm_packages/

# Snowpack
web_modules/

# TypeScript
*.tsbuildinfo

# npm cache
.npm

# Lint caches
.eslintcache
.stylelintcache

# REPL history
.node_repl_history

# npm pack
*.tgz

# Yarn
.yarn-integrity
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Env files
.env
.env.*
!.env.example
backend/.env
frontend/.env

# Parcel cache
.cache
.parcel-cache

# Next.js / Nuxt.js / Gatsby
.next
out
.nuxt
dist
.cache/
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus

# Serverless / FuseBox / DynamoDB / Firebase
.serverless/
.fusebox/
.dynamodb/
.firebase/

# TernJS
.tern-port

# VSCode test versions
.vscode-test

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
